@model OVERAS.Models.customert

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>customert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currentaddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currentaddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ffname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ffname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mmname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mmname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.llname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.llname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
